<div class="container">
  @if (contact) {
  <div class="contact-details-card">
    <h2>{{ contact.firstName }} {{ contact.lastName }}</h2>

    <div class="detail-row">
      <label>Phone:</label>
      <p>{{ contact.phone }}</p>
    </div>

    <div class="detail-row">
      <label>Email:</label>
      <p>{{ contact.email }}</p>
    </div>

    <div class="detail-row">
      <label>Address:</label>
      <p>{{ contact.address }}</p>
    </div>

    <div class="detail-row">
      <label>Birth Date:</label>
      <p>{{ contact.birthDate | date : "dd/MM/yyyy" }}</p>
    </div>

    <div class="button-group">
      <button class="back-button" (click)="goBack()">Back to List</button>
    </div>
  </div>
  }
</div>
