<div>
  <h1>Contact List</h1>
  <button [routerLink]="['/contact/new']">Add Contact</button>

  <div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search contacts..."
    />
  </div>

  <div>
    @for (contact of filteredContacts; track contact.id) {
    <div>
      <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>
      <p>{{ contact.phone }}</p>
      <button [routerLink]="['/contact', contact.id]">View Details</button>
      <button [routerLink]="['/contact', contact.id, 'edit']">Edit</button>
    </div>
    }
  </div>
</div>
